<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="layout.css">

</head>
<body>

<header class="container-fluid">
    
    <img src='https://www.chromosome.ie/wp-content/uploads/2013/06/NUI_Galway_BrandMark_B.jpg' width=150px><p>NUIG Scheduler</p>
</header>    
    
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
     <p> </p>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="ihome">Home</a></li>
        <li ><a href="tablesearch">Courses</a></li>
        <li ><a href="socs">Socs</a></li>
        <li class="active"><a href="clubs">Clubs</a></li>
      </ul><br>
    </div>

    <div class="col-sm-10">
      
      <hr>
      <div>
			
          <h2>Basketball Club Timetable</h2>
		<table border style="width:90%">
			<tr>
				<th colspan="6">NUIG Student Planner 2019/2020</th>
			</tr>
			<tr>
				<td>Time/Day</td>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
			</tr>
			<tr>
				<td>09:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>10:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>11:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>12:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>13:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>14:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>15:00</td>
				<td></td>
                <td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>16:00</td>
				<td></td>
				<td>Women Training</td>
				<td></td>
				<td>Senior Training</td>
				<td></td>
			</tr>
			<tr>
				<td>17:00</td>
				<td>Senior Training</td>
				<td>Women Training</td>
				<td>Junior Training<br><br>Women Training</td>
				<td>Senior Training</td>
				<td>Junior Training</td>
			</tr>
			<tr>
				<td>18:00</td>
				<td>Senior Training</td>
				<td></td>
				<td>Junior Training<br><br>Women Training</td>
				<td></td>
				<td>Junior Training</td>
			</tr>
		</table>
	</div>
      
      
        

      
      
    </div>
  </div>
</div>