<!DOCTYPE html>
<html>
	<head>
		<title>Build your own Timetable</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
		<link rel="stylesheet" type="text/css" href="/stylesheets/Timetable.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
        <link rel="stylesheet" href="/stylesheets/logout.css">
	</head>
	<body>
        
        <header class="container-fluid">
    
    <img src='https://www.chromosome.ie/wp-content/uploads/2013/06/NUI_Galway_BrandMark_B.jpg' width=150px><h3>NUIG Scheduler</h3>
    <div class="loginbox">
     <button style="float: right" type="submit" name="login-submit" value="Login">Log Out</button>
    </div>
        </header>  
        
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="ihome">Home</a></li>
        <li class="active"><a href="tablesearch">Courses</a></li>
        <li ><a href="socs">Socs</a></li>
        <li><a href="clubs">Clubs</a></li>
      </ul><br>
    </div>


    </div>
        </div>
    <div class="col-sm-10">
         <div style="position: auto; top: 10%; left:23%; float: left;">
		<h2> NUIG Personalised Timetable</h2>

		<form name="form1" action="" method="post">
           
		<table>
			<tr>
				<th colspan="6">NUIG Student Planner 2019/2020: Build your own Timetable</th>
			</tr>
			<tr>
				<td>Time/Day</td>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
			</tr>
			<tr>
				<td>09:00</td>
				<td>
				<input type="text" name="Mon9" id="Mon9" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue9" id="Tue9" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed9" id="Wed9" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu9" id="Thu9" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri9" id="Fri9" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>10:00</td>
				<td>
				<input type="text" name="Mon10" id="Mon10" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue10" id="Tue10" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed10" id="Wed10" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu10" id="Thu10" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri10" id="Fri10" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>11:00</td>
				<td>
				<input type="text" name="Mon11" id="Mon11" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue11" id="Tue11" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed11" id="Wed11" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu11" id="Thu11" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri11" id="Fri11" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>12:00</td>
				<td>
				<input type="text" name="Mon12" id="Mon12" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue12" id="Tue12" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed12" id="Wed12" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu12" id="Thu12" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri12" id="Fri12" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>13:00</td>
				<td>
				<input type="text" name="Mon13" id="Mon13" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue13" id="Tue13" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed13" id="Wed13" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu13" id="Thu13" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri13" id="Fri13" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>14:00</td>
				<td>
				<input type="text" name="Mon14" id="Mon14" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue14" id="Tue14" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed14" id="Wed14" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu14" id="Thu14" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri14" id="Fri14" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>15:00</td>
				<td>
				<input type="text" name="Mon15" id="Mon15" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue15" id="Tue15" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed15" id="Wed15" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu15" id="Thu15" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri15" id="Fri15" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>16:00</td>
				<td>
				<input type="text" name="Mon16" id="Mon16" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue16" id="Tue16" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed16" id="Wed16" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu16" id="Thu16" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri16" id="Fri16" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>17:00</td>
				<td>
				<input type="text" name="Mon17" id="Mon17" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue17" id="Tue17" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed17" id="Wed17" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu17" id="Thu17" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri17" id="Fri17" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td>18:00</td>
				<td>
				<input type="text" name="Mon18" id="Mon18" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Tue18" id="Tue18" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Wed18" id="Wed18" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Thu18" id="Thu18" placeholder="Enter your details here...">
				<br>
				</td>
				<td>
				<input type="text" name="Fri18" id="Fri18" placeholder="Enter your details here...">
				<br>
				</td>
			</tr>
			<tr>
				<td colspan="6";><input type="button" name="b1" value="Save your Timetable" onClick="aa()";></button></td>
			</tr>
		</table>
		</form>
</div>
		<script type="text/javascript">
		function aa(){
		var xmlhttp;
		xmlhttp=new XMLHttpRequest();
		xmlhttp.open("GET", "insert.php?Mon9"+document.getElementById("Mon9").value+
		"&Tue9="+document.getElementById("Tue9").value+"&Wed9="+document.getElementById("Wed9").value+
		"&Thu9="+document.getElementById("Thu9").value+"&Fri9="+document.getElementById("Fri9").value+
		"&Mon10"+document.getElementById("Mon10").value+"&Tue10"+document.getElementById("Tue10").value+
		"&Wed10"+document.getElementById("Wed10").value+"&Thu10"+document.getElementById("Thu10").value+
		"&Fri10"+document.getElementById("Fri10").value+"&Mon11"+document.getElementById("Mon11").value+
		"&Tue11"+document.getElementById("Tue11").value+"&Wed11"+document.getElementById("Wed11").value+
		"&Thu11"+document.getElementById("Thu11").value+"&Fri11"+document.getElementById("Fri11").value+
		"&Mon12"+document.getElementById("Mon12").value+"&Tue12"+document.getElementById("Tue12").value+
		"&Wed12"+document.getElementById("Wed12").value+"&Thu12"+document.getElementById("Thu12").value+
		"&Fri12"+document.getElementById("Fri12").value+"&Mon13"+document.getElementById("Mon13").value+
		"&Tue13"+document.getElementById("Tue13").value+"&Wed13"+document.getElementById("Wed13").value+
		"&Thu13"+document.getElementById("Thu13").value+"&Fri13"+document.getElementById("Fri13").value+
		"&Mon14"+document.getElementById("Mon14").value+"&Tue14"+document.getElementById("Tue14").value+
		"&Wed14"+document.getElementById("Wed14").value+"&Thu14"+document.getElementById("Thu14").value+
		"&Fri14"+document.getElementById("Fri14").value+"&Mon15"+document.getElementById("Mon15").value+
		"&Tue15"+document.getElementById("Tue15").value+"&Wed15"+document.getElementById("Wed15").value+
		"&Thu15"+document.getElementById("Thu15").value+"&Fri15"+document.getElementById("Fri15").value+
		"&Mon16"+document.getElementById("Mon16").value+"&Tue16"+document.getElementById("Tue16").value+
		"&Wed16"+document.getElementById("Wed16").value+"&Thu16"+document.getElementById("Thu16").value+
		"&Fri16"+document.getElementById("Fri16").value+"&Mon17"+document.getElementById("Mon17").value+
		"&Tue17"+document.getElementById("Tue17").value+"&Wed17"+document.getElementById("Wed17").value+
		"&Thu17"+document.getElementById("Thu17").value+"&Fri17"+document.getElementById("Fri17").value+
		"&Mon18"+document.getElementById("Mon18").value+"&Tue18"+document.getElementById("Tue18").value+
		"&Wed18"+document.getElementById("Wed18").value+"&Thu18"+document.getElementById("Thu18").value+
		"&Fri18"+document.getElementById("Fri18").value+, false);         
		xmlhttp.send(null);
		
		</script>
	</body>
</html>