<!DOCTYPE html>
<html lang="en">
<head>
  <title>NUIG Scheduler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/logout.css">
    
</head>
<body>

<header class="container-fluid">
    
    <img src='https://www.chromosome.ie/wp-content/uploads/2013/06/NUI_Galway_BrandMark_B.jpg' width=150px><p>NUIG Scheduler</p>
    <div class="loginbox">
     <button style="float: right" type="submit" name="login-submit" value="Login">Log Out</button>
    </div>
</header>    
    
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
     <p> </p>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="ihome">Home</a></li>
        <li><a href="tablesearch">Courses</a></li>
        <li><a href="socs">Socs</a></li>
        <li class="active"><a href="clubs.html" >Clubs</a></li>
      </ul><br>
    </div>

    <div class="col-sm-10">
      <hr>
      <h2>Clubs</h2>
      
      <br>
      
      
        <div class="container">


            <div class="row">
                <div class="col-xs-6 text-center" id="socCards">
                  <h2>Kayaking</h2>
                  <img class="img-top img-fluid img-rounded" style="max-height:200px"src="/images/kayakingclub.jpg">
                  <br>
                    <p style="text-align:left">
                      <br>
                      The NUIG Kayak Club aims to introduce students and staff to the sport of canoeing and kayaking, and caters for every level of skill, from complete beginner to expert paddler. And we also aim to have as much craic as possible while doing it!
        
                        
                    </p> 
                    <br>
                    <a href="https://socs.nuigalway.ie/societies.php?id=NDg4" class="btn btn-info btn-lg" role="button">Link to Website</a>
                </div>
                <div class="col-xs-6 text-center" id="socCards">
                  <h2>Rowing</h2>
                  <img class="img-top img-fluid img-rounded" style="max-height:200px"src="/images/rowingclub.jpg">
                  <br>
                    <p style="text-align:left">
                      <br>
                      NUI Galway Boat Club is one of the most successful clubs in the University and indeed in Irish rowing. In the last decade, they have captured numerous National Championship titles in the Mens Senior 4+ and 4- categories, in addition to Seniors 8's, Inter 8's, 4's, Novice 8's and Novice 4's.
                    </p> 
                    <a href="https://socs.nuigalway.ie/societies.php?id=NDgw" class="btn btn-info btn-lg" role="button">Link to Website</a>
                </div>
              </div>
        
              <div class="row">
                  <div class="col-xs-6 text-center" id="socCards">
                    <h2>Archery</h2>
                    <img class="img-top img-fluid img-rounded" style="max-height:200px"src="/images/archeryclub.jpg">
                    
                      <p style="text-align:left">
                        <br>
                        Welcome to the Archery Club. This year, we have not only become the strongest University club in the country in terms of performance, but have developed excellent coaching and support structures to introduce newcomers to the sport through the club.
]                      </p> 
                      <br>
                      <a href="https://socs.nuigalway.ie/societies.php?id=Mzc=" class="btn btn-info btn-lg" role="button">Link to Website</a>
                  </div>
                  <div class="col-xs-6 text-center" id="socCards">
                    <h2>Rugby</h2>
                    <img class="img-top img-fluid img-rounded" style="max-height:200px"src="/images/rugbyclub.jpg">
                    <br>
                      <p style="text-align:left">
                        <br>
                        Ollscoil na hEireann Gaillimh RFC (UCG) has a long and proud history of rugby in Galway. Since co-founding the IRFU in 1874 the club has won more Connacht Cups than any other club in the province. 
                      </p> 
                      <br>
                      <a href="https://socs.nuigalway.ie/societies.php?id=Mzc5" class="btn btn-info btn-lg" role="button">Link to Website</a>
                  </div>
              </div>      
             
              <div class="row">
                  <div class="col-xs-6 text-center" id="socCards">
                    <h2>Basketball</h2>
                    <img class="img-top img-fluid img-rounded" style="max-height:200px"src="/images/basketballclub.jpg">
                    <br>
                      <p style="text-align:left">
                        <br>
                        Welcome to the NUIG Basketball club. Currently the club is one of the most successful sports in the college housing many International and Elite Division players annually
                      </p> 
                      
                      <a href="https://socs.nuigalway.ie/societies.php?id=Mjg=" class="btn btn-info btn-lg" role="button">Link to Website</a>
                  </div>
                  <div class="col-xs-6 text-center" id="socCards">
                    <h2>Fencing</h2>
                    <img class="img-top img-fluid img-rounded" style="max-height:200px"src="/images/fencingclub.png">
                    <br>
                      <p style="text-align:left">
                        <br>
                        Fencing is the sport of fighting with blades. Nuig Fencing club welcomes all student, whether you're a skilled fighter or a newcomer.
                      </p> 
                      <a href="https://compsoc.ie/" class="btn btn-info btn-lg" role="button">Link to Website</a>
                  </div>
              </div>
              



              <!--
      <div class="filterDiv Kayaking"><a href="https://clubs.nuigalway.ie/clubProfile.php?id=MzEy">Kayaking</a></div>
      <div class="filterDiv Rowing"><a href="https://clubs.nuigalway.ie/clubProfile.php?id=MzE2">Rowing</a></div>
      <div class="filterDiv Archery"><a href="https://clubs.nuigalway.ie/clubProfile.php?id=Mjk0">Archery</a></div>
      <div class="filterDiv Indoor"><a href="https://clubs.nuigalway.ie/clubProfile.php?id=MzE4">Rugby</a></div>
     <div class="filterDiv Basketball"><a href="https://clubs.nuigalway.ie/clubProfile.php?id=Mjk3">Basketball</a></div>
      <div class="filterDiv Fencing"><a href="https://clubs.nuigalway.ie/clubProfile.php?id=MzAz">Fencing</a></div>
              -->
  
        </div>

      
      
    </div>
  </div>
</div>



    
</body>
</html>