<!DOCTYPE html>
<html>
	<head>
		<head>
  <title>NUIG Scheduler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/Timetable.css">
    <link rel="stylesheet" href="/stylesheets/logout.css">
</head>
	</head>
	<body>
 <header class="container-fluid">
    
    <img src='https://www.chromosome.ie/wp-content/uploads/2013/06/NUI_Galway_BrandMark_B.jpg' width=150px><h3>NUIG Scheduler</h3>
    <div class="loginbox">
     <button style="float: right" type="submit" name="logout-submit"><a href="ehome"><p style="font-color: #fff; font-size: 18px;">Logout</p></a></button>
    </div>
</header>     
    
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
     <p> </p>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="ihome">Home</a></li>
        <li class="active"><a href="tablesearch">Courses</a></li>
        <li ><a href="socs">Socs</a></li>
        <li><a href="clubs">Clubs</a></li>
      </ul><br>
    </div>

    <div class="col-sm-10">
		<h2 style="width: 60%;"> Electronic &amp;  Computer Engineering 4th Year Semester 2 Timetable</h2>
			
			
		<table style="width: 100%;">
			<tr>
				<th colspan="6">NUIG Student Planner 2019/2020: 2BG Semester 2</th>
			</tr>
			<tr>
				<td>Time/Day</td>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
			</tr>
			<tr>
				<td>09:00</td>
				<td>EE348: Engineering Electromagnetics
				<br>
				ENG-3035
				</td>
				<td>EE450: Power Systems
				<br>
				ENG-2003
				</td>
				<td></td>
				<td></td>
				<td>EE443: Final Year Project
				<br>
				ENG-3001 / ENG-3002
				</td>
			</tr>
			<tr>
				<td>10:00</td>
				<td>EE348: Engineering Electromagnetics
				<br>
				ENG-3035
				</td>
				<td></td>
				<td></td>
				<td>CT420: Real Time Systems
				<br>
				IT250
				</td>
				<td>EE443: Final Year Project
				<br>
				ENG-3001 / ENG-3002
				</td>
			</tr>
			<tr>
				<td>11:00</td>
				<td>EE Lab
				<br>
				ENG-3001 / ENG-3002
				</td>
				<td>EE452: System on Chip Design II
				<br>
				ENG-3001 (Lab)
				</td>
				<td></td>
				<td></td>
				<td>EE443: Final Year Project
				<br>
				ENG-3001 / ENG-3002
				</td>
			</tr>
			<tr>
				<td>12:00</td>
				<td>EE Lab
				<br>
				ENG-3001 / ENG-3002
				</td>
				<td>EE452: System on Chip Design II
				<br>
				ENG-3001 (Lab)
				</td>
				<td></td>
				<td></td>
				<td>EE443: Final Year Project
				<br>
				ENG-3001 / ENG-3002
				</td>
			</tr>
			<tr>
				<td>13:00</td>
				<td></td>
				<td></td>
				<td>EE348: Engineering Electromagnetics
				<br>
				ENG-2033
				</td>
				<td>EE348: Engineering Electromagnetics
				<br>
				ENG-2035
				</td>
				<td></td>
			</tr>
			<tr>
				<td>14:00</td>
				<td>EE444: Communications & Signal Processing Applications
				<br>
				ENG-2003
				</td>
				<td>CT420: Real Time Systems Lab
				<br>
				IT101
				</td>
				<td>EE444: Communications & Signal Processing Applications
				<br>
				ENG-2001
				</td>
				<td>EE452: System on Chip Design II
				<br>
				ENG 3001 (Lab)
				</td>
				<td></td>
			</tr>
			<tr>
				<td>15:00</td>
				<td>EE444: Communications & Signal Processing Applications
				<br>
				ENG-2003
				</td>
				<td>CT420: Real Time Systems Lab
				<br>
				IT101
				</td>
				<td>CT420: Real Time Systems
				<br>
				SC003, Dillon Theatre
				</td>
				<td>EE450: Power Systems
				<br>
				ENG-2035
				</td>
				<td></td>
			</tr>
			<tr>
				<td>16:00</td>
				<td>EE450: Power Systems
				<br>
				ENG-2034
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>17:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>18:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</body>
</html>