
<!DOCTYPE html>
<html lang="en">
<head>
  <title>NUIG Scheduler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/Timetable.css">
    <link rel="stylesheet" href="/stylesheets/logout.css">
</head>
<body>

<header class="container-fluid">
    
    <img src='https://www.chromosome.ie/wp-content/uploads/2013/06/NUI_Galway_BrandMark_B.jpg' width=150px><h3>NUIG Scheduler</h3>
    <div class="loginbox">
     <button style="float: right" type="submit" name="logout-submit"><a href="ehome"><p style="font-color: #fff; font-size: 18px;">Logout</p></a></button>
    </div>
</header>      
    
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
     <p> </p>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="ihome">Home</a></li>
        <li class="active"><a href="tablesearch">Courses</a></li>
        <li ><a href="socs">Socs</a></li>
        <li><a href="clubs">Clubs</a></li>
      </ul><br>
    </div>

    <div class="col-sm-10">
			
          <h2>  Computer Science &amp; IT 2nd Year Semester 2 Timetable</h2>
		<table border style="width: 100%">
			<tr>
				<th colspan="6">NUIG Student Planner 2019/2020: 2BCT1 Semester 2</th>
			</tr>
			<tr>
				<td>Time/Day</td>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
			</tr>
			<tr>
				<td>09:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>CT2109: OOP Data Structures &amp; Algorithms
				
				IT250
				</td>
			</tr>
			<tr>
				<td>10:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>CT2109: OOP Data Structures &amp; Algorithms
				
				IT250
				</td>
			</tr>
			<tr>
				<td>11:00</td>
				<td>MA2287: Complex Analysis
				<br>
				
				<br>
				Tyndall Theatre
				</td>
				<td></td>
				<td>MA2287: Complex Analysis
				<br>
				
				<br>
				Tyndall Theatre
				</td>
				<td></td>
				<td>[A] MA203: Linear Algebra 
				String 1
				<br>
				AM150
				<br>
				[B] MA283: Linear Algebra
				String 2
				<br>
				D&#39;arcy Thompson
				</td>
			</tr>
			<tr>
				<td>12:00</td>
				<td>CT255: Next Generation Technologies
				<br>
				
				<br>
				AC213
				</td>
				<td>CT216: Software Engineering
				<br>
				
				<br>
				AUC G002
				</td>
				<td>CT248: Introduction to Modelling
				<br>
				
				<br>
				Larmor Theatre
				</td>
				<td>CT2109: OOP Data Structures &amp; Algorithms Lab
				<br>
				
				<br>
				IT106
				</td>
				<td>CT2109: OOP Data Structures &amp; Algorithms Lab
				<br>
				
				<br>
				IT106
				</td>
			</tr>
			<tr>
				<td>13:00</td>
				<td></td>
				<td>CT216: Software Engineering
				
				AUC G002
				</td>
				<td>[A] MA203: Linear Algebra 
				String 1
				Anderson Theatre
                    
				[B] MA283: Linear Algebra
				String 2
				AUC G002
				</td>
				<td>CT2109: OOP Data Structures &amp; Algorithms Lab
				
				IT106</td>
				<td>CT2109: OOP Data Structures &amp; Algorithms Lab
				
				IT106</td>
			</tr>
			<tr>
				<td>14:00</td>
				<td>CT255: Next Generation Technologies Lab
				
				IT101
				</td>
				<td></td>
				<td></td>
				<td>CT216: Software Engineering Lab
				
				IT106
				</td>
				<td></td>
			</tr>
			<tr>
				<td>15:00</td>
				<td>CT255: Next Generation Technologies Lab
				<br>
				
				<br>
				IT101</td>
				<td>CT2108: Network &amp; Data Communications
				<br>
				Dr. Des Chambers
				<br>
				McMunn Theatre
				</td>
				<td>CT2108: Network &amp; Data Communications Lab
				<br>
				
				IT102
				</td>
				<td>CT216: Software Engineering Lab
				
				IT106
				</td>
				<td></td>
			</tr>
			<tr>
				<td>16:00</td>
				<td></td>
				<td>CT2108: Network &amp; Data Communications
				
				McMunn Theatre
				</td>
				<td></td>
				<td>CT248: Introduction to Modelling Lab
				
				IT106
				</td>
				<td></td>
			</tr>
			<tr>
				<td>17:00</td>
				<td>CT248: Introduction to Modelling
				
				IT125
				</td>
				<td></td>
				<td></td>
				<td>CT248: Introduction to Modelling Lab
				
				IT106
				</td>
				<td></td>
			</tr>
			<tr>
				<td>18:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
      
      
        

      
      
    </div>
  </div>
